<header>
    <div class="header-top">
            <i class="fa-solid fa-bars"></i>
        <div class="logo-container">
            <a href="/" ><img src="../images/streang-logo-v1.png" alt="Streang logo"></a>
        </div>
            <i class="fa-solid fa-user"></i>
    </div>
    <div class="header-mid">
        <div class="search-bar-container">
            <input class="search-bar" type="text" placeholder="Buscar...">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>            
        <div class="nav-bar">
            <ul>
                <li><a class="nav-link" href="#">Categorias</a></li>
                <li><a class="nav-link" href="#">Promociones</a></li>
                <li><a class="nav-link" href="#">Vender</a></li>
                <li><a class="nav-link" href="#">Contacto</a></li>
                <li><a class="nav-link" href="#">Ayuda</a></li>
            </ul>
        </div>
    </div>
    <div class="header-right">
        <ul class="right-nav-bar">
            <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-user"></i></a></li>
            <li><a href="/cart">Tu carrito <i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>

    </div>
</header>