<header>
    <div class="header-top">
            <i id="menu-button"class="fa-solid fa-bars"></i>
        <div class="logo-container">
            <a href="/" ><img src="/images/streang-logo-v1.png" alt="Streang logo"></a>
        </div>
            <i class="fa-solid fa-user"></i>
    </div>
    <div class="header-mid">
        <div class="search-bar-container">
            <form action="/search" method="GET">
                <input name="query_search" class="search-bar" type="text" placeholder="Buscar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>            
        </div>
        
        <div class="nav-bar">
            <ul>
                <div class="dropdown">                
                    <li class="dropdown-li">
                        <a class="nav-link" href="#">Categorias</a>
                        <ul class="dropdown-content">                            
                            <li><a href="/products/categories/videogames">Videojuegos</a></li>
                            <li><a href="/products/categories/consoles">Consolas</a></li>
                            <li><a href="/products/categories/accesories">Accesorios</a></li>
                            <li><a href="/products/categories/audio">Audio y sonido</a></li>
                            <li><a href="/products/categories/PC">Computación</a></li>
                            <li><a href="/products/categories/other">Otros</a></li>
                            <li><a href="/products">Ver todos los productos</a></li>
                        </ul>
                    </li>
                </div>
                <li><a class="nav-link" href="/products/discounts">Promociones</a></li>
                <li><a class="nav-link" href="/products/create">Vender</a></li>
                <li><a class="nav-link" href="/users/register">Registrarse</a></li>
                <li><a class="nav-link" href="/contact">Contacto</a></li>
            </ul>
        </div>
    </div>
    <div class="header-right">
        <ul class="right-nav-bar">
            <%if(user){%>
                <li><a href="/users/profile"><i class="fa-solid fa-user logged"></i> Mi perfil</a></li>
                <li><a href="/cart"><i class="fa-solid fa-cart-shopping logged"></i> Mi carrito </a></li>
                <%} else {%>
            <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="/users/register">Creá tu cuenta <i class="fa-solid fa-user"></i></a></li>
            <li>Mi carrito<a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <%}%>
        </ul>

    </div>
</header>