<div class="slider-container">
    <ul class="slider">
        <li id="slide1">
            <img src="/images/doom-eternal.jpg" alt="doom eternal">
        </li>
        <li id="slide2">
            <img src="/images/cuphead-banner.jpg" alt="cuphead banner">
        </li>
        <li id="slide3">
            <img src="/images/gta6-main.webp" alt="GTAVI banner">
        </li>
    </ul>

    <ul class="menu">
        <li>
            <a href="#slide1">1</a>
        </li>
        <li>
            <a href="#slide2">2</a>
        </li>
        <li>
            <a href="#slide3">3</a>
        </li>
    </ul>
</div>