<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/cart.css">
    <script src="https://kit.fontawesome.com/49746c139e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header-top">
            <i class="fa-solid fa-bars"></i>
        <div class="logo-container">
            <img src="images/streang-logo-v1.png" alt="Streang logo">
        </div>
            <i class="fa-solid fa-user"></i>
    </div>
    <div class="header-bottom"></div>
    <div class="input-container">
        <input type="text" name="text" class="input" placeholder="Buscar...">
        <span class="icon"> 
          <svg width="19px" height="19px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path opacity="1" d="M14 5H20" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="1" d="M14 8H17" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M21 11.5C21 16.75 16.75 21 11.5 21C6.25 21 2 16.75 2 11.5C2 6.25 6.25 2 11.5 2" stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="1" d="M22 22L20 20" stroke="#000" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </span>
      </div>
    </header>
    <main>
<section>
    <article class="product-container">
        <div class="main-img-container">
            <h2 class="product-title">Cuphead</h2>
            <img class="imagenJuego" src="/images/cuphead.png">
            <p>La historia trata acerca de dos hermanos, los protagonistas Cuphead y Mugman, que deben derrotar a varios enemigos y jefes para poder saldar una deuda que tenían pendiente con el diablo.</p>
            <div class="price-container">
                <h4 class="price">$12000</h4>
                <h4 class="discount">%20 dto</h4>
                <h4 class="final-price">$9600</h4>
                <button class="button1" >Eliminar del carrito </button>
            </div>
        </div>
    </article>
    <article class="product-container">
            <div class="main-img-container">
                <h2 class="product-title">Hollow Knight</h2>
                <img class="imagenJuego" src="/images/hollow-knight.webp">
                <p>Hollow Knight cuenta la historia del Caballero, en su búsqueda por descubrir los secretos del largamente abandonado reino de los insectos de Hallownest, cuyas profundidades atraen a los aventureros y valientes con la promesa de tesoros o la respuesta a misterios antiguos.</p>
            </div>
            <div class="price-container">
                <h4 class="price">$25000</h4>
                <h4 class="discount">%10 dto</h4>
                <h4 class="final-price">$22500</h4>
                <button class="button1" >Eliminar del carrito </button>
            </div>
    </article>
</section>
    </main>
    <footer>
        <div class="wave-group">
            <input required="" type="text" class="input">
            <span class="bar"></span>
            <label class="label">
              <span class="label-char" style="--index: 0">Ingresá tu código de descuento</span>
              <span class="label-char" style="--index: 1"></span>
              <span class="label-char" style="--index: 2"></span>
              <span class="label-char" style="--index: 3"></span>
            </label>
          </div> </br>
          <button class="button2"> COMPRAR </button>
    </footer>
</body>
</html>