<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link href="/css/cart.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/49746c139e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-top">
                <i class="fa-solid fa-bars"></i>
            <div class="logo-container">
                <a href="/" ><img src="images/streang-logo-v1.png" alt="Streang logo"></a>
            </div>
                <i class="fa-solid fa-user"></i>
        </div>
        <div class="header-mid">
            <div class="search-bar-container">
                <input class="search-bar" type="text" placeholder="Buscar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>            
            <div class="nav-bar">
                <ul>
                    <li><a class="nav-link" href="#">Categorias</a></li>
                    <li><a class="nav-link" href="#">Promociones</a></li>
                    <li><a class="nav-link" href="#">Vender</a></li>
                    <li><a class="nav-link" href="#">Contacto</a></li>
                    <li><a class="nav-link" href="#">Ayuda</a></li>
                </ul>
            </div>
        </div>
        <div class="header-right">
            <ul class="right-nav-bar">
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-user"></i></a></li>
                <li><a href="/cart">Tu carrito <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>

        </div>
    </header>

    <main>
        <section>
            <div class="cart-products">
                <article class="product-container">
                    <div class="main-img-container">            
                        <img src="/images/CupheadNuevaFoto.png">
                    </div>
                    <div class="mid-cart">
                        <h2 class="product-title">Cuphead</h2>
                        <!-- <div class="product-description">
                            <p>La historia trata acerca de dos hermanos, los protagonistas
                                Cuphead y Mugman, que deben derrotar a varios enemigos y jefes para 
                                poder saldar una deuda que tenían pendiente con el diablo.</p>
                        </div> -->
                        <div class="price-container">
                            <h4 class="discount">%20 dto</h4>
                            <h4 class="final-price">$9600</h4>
                        </div>
                    </div>
                    <div class="right-cart">
                        <div class="add-remove-product">
                            <button type="button" class="sign">+</button>
                            <p>0</p>
                            <button type="button" class="sign">-</button>
                        </div>
                        <button class="button1"><i class="fa-solid fa-trash"></i></button>
                    </div>        
                </article>
                
                <article class="product-container">
                    <div class="main-img-container">            
                        <img src="/images/hollow-knight.webp">
                    </div>
                    <div class="mid-cart">
                        <h2 class="product-title">Hollow Knight</h2>
                        <!-- <div class="product-description">
                            <p>Hollow Knight cuenta la historia del Caballero, 
                                en su búsqueda por descubrir los secretos del 
                                largamente abandonado reino de los insectos de Hallownest, 
                                cuyas profundidades atraen a los aventureros y 
                                valientes con la promesa de tesoros o la respuesta 
                                a misterios antiguos.</p>
                        </div> -->
                        <div class="price-container">
                            <h4 class="discount">%20 dto</h4>
                            <h4 class="final-price">$9600</h4>
                        </div>
                    </div>
                    <div class="right-cart">
                        <div class="add-remove-product">
                            <button type="button" class="sign">+</button>
                            <p>0</p>
                            <button type="button" class="sign">-</button>
                        </div>
                        <button class="button1"><i class="fa-solid fa-trash"></i></button>
                    </div>        
                </article>
            </div>
            
        
            <div class="cart-total">
                <div class="title-container">
                    <h3>Resumen de compra</h3>
                </div>
                <div class="ticket-products-count">
                    <span>Productos</span> <span>(2)</span>
                </div>
                <div class="ticket-shipping">
                    <span>Envio</span> <span>Gratis</span>
                </div>
                <div class="add-discount">
                    <div class="wave-group">
                        <input required="" type="text" class="input">
                        <span class="bar"></span>
                        <label class="label">
                        <span class="label-char" style="--index: 0">Ingresá tu código de descuento</span>
                        <!-- <span class="label-char" style="--index: 1"></span>
                        <span class="label-char" style="--index: 2"></span>
                        <span class="label-char" style="--index: 3"></span> -->
                        </label>
                    </div>
                </div>
                <div class="ticket-final-price">
                    <span class="total-big">Total</span> <span class="total-big">$19200</span>
                </div> 
                <button class="button2"> COMPRAR </button>           
            </div>
        </section>
        
    </main>

    <footer>
        <div class="footer">
            <section class="footer__section">
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Paga hasta en 12 cuotas sin interes con tarjetas VISA bancarizadas, u obtené 10% de descuento
                    pagando en efectivo.
                </p>
            </section>
            <section class="footer__section">
                <h2>Envío gratis desde $ 15000</h2>
                <p>Te regalamos el envío en compras superiores a $15000</p>
            </section>
            <section class="footer__section">
                <h2>Garantía con cambio directo</h2>
                <p>Si tu producto tiene alguna falla, te cambiamos el producto de manera inmediata
                    dentro de los primeros 5 días.
                </p>
            </section>
        </div>
        <section class="footer__section">
            <p>Copyright © 2020-2024 Streang®</p>
        </section>
    </footer>
</body>
</html>