<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
	<link href="/css/styles.css" rel="stylesheet"/>
    <title>Streang - Venta de videojuegos y consolas</title>
</head>

<body>
	<!-- HEADER -->

    <%-include('partials/header.ejs')%>
	
	<!-- MAIN -->
    <main>
        
        <div class="img-carousel">
            <i class="fa-solid fa-caret-left"></i>
            <img src="images/doom-eternal.jpg" alt="game image">
            <i class="fa-solid fa-caret-right"></i>
        </div>
        <section class="products">
            <article class="product-container">
                <div class="main-img-container">
                    <h2 class="product-title">Cuphead</h2>                    
                    <img src="/images/CupheadNuevaFoto.png">                    
                </div>
                <div class="more-img-container">
                    <img src="images/cuphead-img1.jpg" alt="game image">
                    <img src="images/cuphead-img2.webp" alt="game image">
                    <img src="images/cuphead-img3.webp" alt="game image">
                </div>
                <div class="product-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Fusce risus velit, pulvinar vitae vulputate laoreet, 
                        imperdiet a odio. Praesent mollis orci et quam eleifend fringilla. 
                        Vivamus at euismod mi, non ultricies sem. 
                        Suspendisse ac risus non lacus tristique finibus. </p>
                </div>
                <div class="price-container">
                    <h4 class="price">$12000</h4>
                    <h4 class="discount">%20 dto</h4>
                    <h4 class="final-price">$9600</h4>
                </div>
                <h3 class="add-cart">Agregar al carrito</h3>
            </article>

            <article class="product-container">
                <div class="main-img-container">
                    <h2 class="product-title">Hollow Knight</h2>
                    <img src="/images/hollow-knight.webp">
                </div>
                <div class="more-img-container">
                    <img src="images/HK-1.jpg" alt="game image">
                    <img src="images/HK-2.jpg" alt="game image">
                    <img src="images/HK-3.jpg" alt="game image">
                </div>
                <div class="product-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Fusce risus velit, pulvinar vitae vulputate laoreet, 
                        imperdiet a odio. Praesent mollis orci et quam eleifend fringilla. 
                        Vivamus at euismod mi, non ultricies sem. 
                        Suspendisse ac risus non lacus tristique finibus. </p>
                </div>             
                <div class="price-container">
                    <h4 class="price">$25000</h4>
                    <h4 class="discount">%10 dto</h4>
                    <h4 class="final-price">$22500</h4>
                </div>
                <h3 class="add-cart">Agregar al carrito</h3>
            </article>

            <article class="product-container">
                <div class="main-img-container">
                    <h2 class="product-title">Grand Theft Auto V</h2>
                    <img src="/images/GTAV.jpeg">
                </div>
                <div class="more-img-container">
                    <img src="images/GTAV-1.jpg" alt="game image">
                    <img src="images/GTAV-2.avif" alt="game image">
                    <img src="images/GTAV-3.jpg" alt="game image">
                </div>
                <div class="product-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Fusce risus velit, pulvinar vitae vulputate laoreet, 
                        imperdiet a odio. Praesent mollis orci et quam eleifend fringilla. 
                        Vivamus at euismod mi, non ultricies sem. 
                        Suspendisse ac risus non lacus tristique finibus. </p>
                </div>
                <div class="price-container">
                    <h4 class="price">$90000</h4>
                    <h4 class="discount">%25 dto</h4>
                    <h4 class="final-price">$67500</h4>
                </div>
                <h3 class="add-cart">Agregar al carrito</h3>
            </article>

        </section>
    </main>
	
	
    <!-- FOOTER -->
    <%-include('partials/footer.ejs')%>
	
</body>
</html>