<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streang - Inicio</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="header">
            <img class="header__logo" src="/images/steam-logo.webp" alt="Streang logo">
            <img src="images/menu-icon.png" alt="menu icon" height="48" width="48">
            <a href="#"><img src="images/user-icon.png" alt="user icon"></a>
        </div>
        <div>
            <h4>Espacio para barra de busqueda</h4>
        </div>
    </header>
    <main>
        <h2>Espacio para slide de imagenes de juegos principales</h2>
        <section>
            <article class="producto">
                <div>
                    <img class="imagen-producto" src="images/cuphead.png" alt="imagen cuphead">
                </div>
                <div class="producto__descripcion">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Tincidunt augue interdum velit euismod in pellentesque massa
                        placerat duis. Hendrerit gravida rutrum quisque non tellus.
                        Semper feugiat nibh sed pulvinar proin gravida.</p>
                </div>
                <div class="producto__precio">
                    <h3>$30000</h3>
                </div>

            </article>
            <article class="producto">
                <div class="imagen-producto">
                    <img src="images/hollow-knight.webp" alt="imagen Hollow Knight">
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div>
                    <h3>$25000</h3>
                </div>

            </article>
            <article class="producto">
                <div>
                    <img class="imagen-producto" src="images/GTAV.jpeg" alt="imagen GTAV">
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                        Tincidunt augue interdum velit euismod in pellentesque massa <br>
                        placerat duis. Hendrerit gravida rutrum quisque non tellus. <br>
                        Semper feugiat nibh sed pulvinar proin gravida.</p>
                    <h3>$90000</h3>
                </div>

            </article>
        </section>
    </main>
    <footer>
        <section>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Paga hasta en 12 cuotas sin interes con tarjetas VISA bancarizadas, u obtené 10% de descuento
                pagando en efectivo.
            </p>
        </section>
        <section>
            <h2>Envío gratis desde $ 15000</h2>
            <p>Te regalamos el envío en compras superiores a $15000</p>
        </section>
        <section>
            <h2>Garantía con cambio directo</h2>
            <p>Si tu producto tiene alguna falla, te cambiamos el producto de manera inmediata
                dentro de los primeros 5 días.
            </p>
        </section>
        <section>
            <p>Copyright © 2020-2024 Streang® </p>
        </section>

    </footer>
</body>
</html>