<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/49746c139e.js" crossorigin="anonymous"></script>
	<link href="css/styles.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Streang - Venta de videojuegos y consolas</title>
</head>

<body>
	<!-- HEADER -->
    <header>
        <div class="header-top">
                <i class="fa-solid fa-bars"></i>
            <div class="logo-container">
                <a href="/" ><img src="images/streang-logo-v1.png" alt="Streang logo"></a>
            </div>
                <i class="fa-solid fa-user"></i>
        </div>
        <div class="header-mid">
            <div class="search-bar-container">
                <input class="search-bar" type="text" placeholder="Buscar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>            
            <div class="nav-bar">
                <ul>
                    <li><a class="nav-link" href="#">Categorias</a></li>
                    <li><a class="nav-link" href="#">Promociones</a></li>
                    <li><a class="nav-link" href="#">Vender</a></li>
                    <li><a class="nav-link" href="#">Contacto</a></li>
                    <li><a class="nav-link" href="#">Ayuda</a></li>
                </ul>
            </div>
        </div>
        <div class="header-right">
            <ul class="right-nav-bar">
                <li><a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Creá tu cuenta <i class="fa-solid fa-user"></i></a></li>
                <li><a href="/cart">Tu carrito <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>

        </div>
    </header>
	
	<!-- MAIN -->
    <main>
        
        <div class="img-carousel">
            <i class="fa-solid fa-caret-left"></i>
            <img src="images/doom-eternal.jpg" alt="game image">
            <i class="fa-solid fa-caret-right"></i>
        </div>
        <section class="products">
            <article class="product-container">
                <div class="main-img-container">
                    <h2 class="product-title">Cuphead</h2>                    
                    <img src="/images/CupheadNuevaFoto.png">                    
                </div>
                <div class="more-img-container">
                    <img src="images/cuphead-img1.jpg" alt="game image">
                    <img src="images/cuphead-img2.webp" alt="game image">
                    <img src="images/cuphead-img3.webp" alt="game image">
                </div>
                <div class="product-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Fusce risus velit, pulvinar vitae vulputate laoreet, 
                        imperdiet a odio. Praesent mollis orci et quam eleifend fringilla. 
                        Vivamus at euismod mi, non ultricies sem. 
                        Suspendisse ac risus non lacus tristique finibus. </p>
                </div>
                <div class="price-container">
                    <h4 class="price">$12000</h4>
                    <h4 class="discount">%20 dto</h4>
                    <h4 class="final-price">$9600</h4>
                </div>
                <h3 class="add-cart">Agregar al carrito</h3>
            </article>

            <article class="product-container">
                <div class="main-img-container">
                    <h2 class="product-title">Hollow Knight</h2>
                    <img src="/images/hollow-knight.webp">
                </div>
                <div class="more-img-container">
                    <img src="images/HK-1.jpg" alt="game image">
                    <img src="images/HK-2.jpg" alt="game image">
                    <img src="images/HK-3.jpg" alt="game image">
                </div>
                <div class="product-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Fusce risus velit, pulvinar vitae vulputate laoreet, 
                        imperdiet a odio. Praesent mollis orci et quam eleifend fringilla. 
                        Vivamus at euismod mi, non ultricies sem. 
                        Suspendisse ac risus non lacus tristique finibus. </p>
                </div>             
                <div class="price-container">
                    <h4 class="price">$25000</h4>
                    <h4 class="discount">%10 dto</h4>
                    <h4 class="final-price">$22500</h4>
                </div>
                <h3 class="add-cart">Agregar al carrito</h3>
            </article>

            <article class="product-container">
                <div class="main-img-container">
                    <h2 class="product-title">Grand Theft Auto V</h2>
                    <img src="/images/GTAV.jpeg">
                </div>
                <div class="more-img-container">
                    <img src="images/GTAV-1.jpg" alt="game image">
                    <img src="images/GTAV-2.avif" alt="game image">
                    <img src="images/GTAV-3.jpg" alt="game image">
                </div>
                <div class="product-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Fusce risus velit, pulvinar vitae vulputate laoreet, 
                        imperdiet a odio. Praesent mollis orci et quam eleifend fringilla. 
                        Vivamus at euismod mi, non ultricies sem. 
                        Suspendisse ac risus non lacus tristique finibus. </p>
                </div>
                <div class="price-container">
                    <h4 class="price">$90000</h4>
                    <h4 class="discount">%25 dto</h4>
                    <h4 class="final-price">$67500</h4>
                </div>
                <h3 class="add-cart">Agregar al carrito</h3>
            </article>

        </section>
    </main>
	
	
    <footer>
        <div class="footer">
            <section class="footer__section">
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Paga hasta en 12 cuotas sin interes con tarjetas VISA bancarizadas, u obtené 10% de descuento
                    pagando en efectivo.
                </p>
            </section>
            <section class="footer__section">
                <h2>Envío gratis desde $ 15000</h2>
                <p>Te regalamos el envío en compras superiores a $15000</p>
            </section>
            <section class="footer__section">
                <h2>Garantía con cambio directo</h2>
                <p>Si tu producto tiene alguna falla, te cambiamos el producto de manera inmediata
                    dentro de los primeros 5 días.
                </p>
            </section>
        </div>
        <section class="footer__section">
            <p>Copyright © 2020-2024 Streang®</p>
        </section>
    </footer>
	
</body>
</html>