<!DOCTYPE html>
<html lang="en">
<head>
<%-include('./partials/head.ejs')%>
<link rel="stylesheet" href="../css/newProduct.css">
</head>

    <body>
        <%-include('partials/header.ejs')%>
        <main>

            <div class="main-boxes-container">
                <div class="form-box">
                    <h2>Nuevo producto</h2>
                    <form class="form-container" action="/producto/nuevo" method="POST">
                        
                        <label class="product-img-label" for=""><i class="fa-regular fa-images img-form"></i>
                            <input class="product-img" type="text" name="mainImage" placeholder="">
                        </label>

                        <label class="product-img-label" for=""><i class="fa-regular fa-images img-form"></i>
                            <input class="product-img" type="text" name="moreImages" placeholder="">
                        </label>

                        <label for="">
                            <input type="text" name="video" placeholder="Video de Youtube">
                        </label>

                        <label for="">
                            <input type="text" name="name" placeholder="Nombre del producto*" required>
                        </label>

                        <textarea class="description-area" name="description" cols="30" rows="10" autocapitalize="on"
                        placeholder="Descripcion*" required></textarea>

                        <select class="category" name="category">
                            <option value="" selected hidden>Categoria</option>
                            <option value="videogames">Videojuegos</option>
                            <option value="consoles">Consolas</option>
                            <option value="accesories">Accesorios</option>
                            <option value="audio">Audio y sonido</option>
                            <option value="PC">Computacion</option>
                            <option value="other">Otros</option>
                        </select>

                        <label for="">
                            <input type="text" name="price" placeholder="Precio*" required>
                        </label>

                        <label for="">
                            <input type="text" name="discount" placeholder="Descuento">
                        </label>

                        <select class="format" name="format">
                            <option hidden>Formato</option>
                            <option value="physical">Fisico</option>
                            <option value="digital">Digital</option>
                        </select>

                        <label for="">
                            <input type="number" name="stock" placeholder="Stock">
                        </label>

                        <button class="submit-button" type="submit">Crear</button>

                    </form>
                </div>
                <div class="preview-box">
                    <article class="product-container">
                        <div class="product-imgs">
                            <div class="main-img-container">
                                <h2 id="preview-name" class="product-title">Cuphead</h2>
                                <i class="fa-regular fa-images main-img-mobile"></i>
                                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/NN-9SQXoi50?si=LRLl-qW8hl5XjIx2" 
                                title="YouTube video player" frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                                picture-in-picture; web-share" allowfullscreen></iframe> -->
                                <i class="fa-brands fa-youtube"></i>
                            </div>
                            <div class="more-img-container">
                                <i class="fa-regular fa-images"></i>
                                <i class="fa-regular fa-images"></i>
                                <i class="fa-regular fa-images"></i>
                                <!-- <img src="../images/cuphead-img1.jpg" alt="game image">
                                <img src="../images/cuphead-img2.webp" alt="game image">
                                <img src="../images/cuphead-img3.webp" alt="game image"> -->
                            </div>
                        </div>
                        
                        <div class="product-description">
                            <i class="fa-regular fa-images product-banner"></i>
                            <p id="preview-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Fusce risus velit, pulvinar vitae vulputate laoreet, 
                                imperdiet a odio. Praesent mollis orci et quam eleifend fringilla. 
                                Vivamus at euismod mi, non ultricies sem. 
                                Suspendisse ac risus non lacus tristique finibus. </p>
                        </div>
                        <div class="price-container">
                            <h4 id="preview-price" class="price">$12000</h4>
                            <h4 id="preview-discount" class="discount">%20 dto</h4>
                            <h4 class="final-price">$9600</h4>
                        </div>
                        <h3 class="add-cart">Agregar al carrito</h3>
                    </article>
                </div>
            </div>
            
        </main>

        <%-include('partials/footer.ejs')%>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Escuchando el evento de entrada en los campos del formulario
                document.querySelectorAll('.form-container input, .form-container textarea, .form-container select').forEach(input => {
                    input.addEventListener('input', function() {
                        // Obteniendo el valor del campo
                        const value = this.value;
                        // Obteniendo el nombre del campo
                        const name = this.getAttribute('name');
                        // Actualizando el contenido del elemento correspondiente en el preview-box
                        const previewElement = document.getElementById(`preview-${name}`);
                        if (previewElement) {
                            previewElement.textContent = value;
                        }
                    });
                });
            });

            document.addEventListener('DOMContentLoaded', function() {
                // Función para calcular el final-price
            function calculateFinalPrice() {
                // Obteniendo el valor del campo price
                const price = parseFloat(document.querySelector('input[name="price"]').value);
                // Obteniendo el valor del campo discount
                const discount = parseFloat(document.querySelector('input[name="discount"]').value);
                document.querySelector('.discount').textContent = `%${discount} dto`;
                // Calculando el final-price aplicando el descuento al price
                const finalPrice = price - (price * (discount / 100));
                // Actualizando el contenido del elemento correspondiente en el preview-box
                document.querySelector('.final-price').textContent = `$${finalPrice.toFixed(2)}`;
            }

            // Escuchando el evento de entrada en el campo price
            document.querySelector('input[name="price"]').addEventListener('input', calculateFinalPrice);

            // Escuchando el evento de entrada en el campo discount (si es un campo de entrada)
            document.querySelector('input[name="discount"]').addEventListener('input', calculateFinalPrice);

            // Escuchando el evento de entrada en el campo discount (si es un elemento de texto)
            document.querySelector('.discount').addEventListener('input', calculateFinalPrice);
        });
        </script>
    </body>
    </html>