<!DOCTYPE html>
<html lang="en">
<head>
<%-include('./partials/head.ejs')%>
<link rel="stylesheet" href="../css/newProduct.css">
</head>

    <body>
        <%-include('partials/header.ejs')%>
        <main>

            <div class="cajas-container">
                <div class="caja1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur nunc ut ipsum volutpat, non hendrerit sem pretium. Nulla facilisi. Sed aliquam dolor quis tellus vestibulum, vitae sollicitudin lectus tincidunt. Mauris mattis velit mauris, pretium cursus metus pulvinar sed. Donec a neque scelerisque, molestie lacus at, placerat nulla. Praesent massa lorem, venenatis ut tempor ac, feugiat sit amet sapien. Proin orci eros, rutrum sit amet mattis ac, tincidunt in urna. Vivamus eros purus, viverra a ultrices nec, tristique eu eros. Quisque gravida lobortis porta. Donec auctor enim massa, ut lobortis nisl placerat a. Duis molestie nulla vel eros pellentesque sagittis. Sed vel pretium orci. Morbi egestas enim orci, id ornare velit consequat vel. Quisque vestibulum quam nibh, sed vulputate dolor feugiat quis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur nunc ut ipsum volutpat, non hendrerit sem pretium. Nulla facilisi. Sed aliquam dolor quis tellus vestibulum, vitae sollicitudin lectus tincidunt. Mauris mattis velit mauris, pretium cursus metus pulvinar sed. Donec a neque scelerisque, molestie lacus at, placerat nulla. Praesent massa lorem, venenatis ut tempor ac, feugiat sit amet sapien. Proin orci eros, rutrum sit amet mattis ac, tincidunt in urna. Vivamus eros purus, viverra a ultrices nec, tristique eu eros. Quisque gravida lobortis porta. Donec auctor enim massa, ut lobortis nisl placerat a. Duis molestie nulla vel eros pellentesque sagittis. Sed vel pretium orci. Morbi egestas enim orci, id ornare velit consequat vel. Quisque vestibulum quam nibh, sed vulputate dolor feugiat quis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur nunc ut ipsum volutpat, non hendrerit sem pretium. Nulla facilisi. Sed aliquam dolor quis tellus vestibulum, vitae sollicitudin lectus tincidunt. Mauris mattis velit mauris, pretium cursus metus pulvinar sed. Donec a neque scelerisque, molestie lacus at, placerat nulla. Praesent massa lorem, venenatis ut tempor ac, feugiat sit amet sapien. Proin orci eros, rutrum sit amet mattis ac, tincidunt in urna. Vivamus eros purus, viverra a ultrices nec, tristique eu eros. Quisque gravida lobortis porta. Donec auctor enim massa, ut lobortis nisl placerat a. Duis molestie nulla vel eros pellentesque sagittis. Sed vel pretium orci. Morbi egestas enim orci, id ornare velit consequat vel. Quisque vestibulum quam nibh, sed vulputate dolor feugiat quis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur nunc ut ipsum volutpat, non hendrerit sem pretium. Nulla facilisi. Sed aliquam dolor quis tellus vestibulum, vitae sollicitudin lectus tincidunt. Mauris mattis velit mauris, pretium cursus metus pulvinar sed. Donec a neque scelerisque, molestie lacus at, placerat nulla. Praesent massa lorem, venenatis ut tempor ac, feugiat sit amet sapien. Proin orci eros, rutrum sit amet mattis ac, tincidunt in urna. Vivamus eros purus, viverra a ultrices nec, tristique eu eros. Quisque gravida lobortis porta. Donec auctor enim massa, ut lobortis nisl placerat a. Duis molestie nulla vel eros pellentesque sagittis. Sed vel pretium orci. Morbi egestas enim orci, id ornare velit consequat vel. Quisque vestibulum quam nibh, sed vulputate dolor feugiat quis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur nunc ut ipsum volutpat, non hendrerit sem pretium. Nulla facilisi. Sed aliquam dolor quis tellus vestibulum, vitae sollicitudin lectus tincidunt. Mauris mattis velit mauris, pretium cursus metus pulvinar sed. Donec a neque scelerisque, molestie lacus at, placerat nulla. Praesent massa lorem, venenatis ut tempor ac, feugiat sit amet sapien. Proin orci eros, rutrum sit amet mattis ac, tincidunt in urna. Vivamus eros purus, viverra a ultrices nec, tristique eu eros. Quisque gravida lobortis porta. Donec auctor enim massa, ut lobortis nisl placerat a. Duis molestie nulla vel eros pellentesque sagittis. Sed vel pretium orci. Morbi egestas enim orci, id ornare velit consequat vel. Quisque vestibulum quam nibh, sed vulputate dolor feugiat quis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur nunc ut ipsum volutpat, non hendrerit sem pretium. Nulla facilisi. Sed aliquam dolor quis tellus vestibulum, vitae sollicitudin lectus tincidunt. Mauris mattis velit mauris, pretium cursus metus pulvinar sed. Donec a neque scelerisque, molestie lacus at, placerat nulla. Praesent massa lorem, venenatis ut tempor ac, feugiat sit amet sapien. Proin orci eros, rutrum sit amet mattis ac, tincidunt in urna. Vivamus eros purus, viverra a ultrices nec, tristique eu eros. Quisque gravida lobortis porta. Donec auctor enim massa, ut lobortis nisl placerat a. Duis molestie nulla vel eros pellentesque sagittis. Sed vel pretium orci. Morbi egestas enim orci, id ornare velit consequat vel. Quisque vestibulum quam nibh, sed vulputate dolor feugiat quis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur nunc ut ipsum volutpat, non hendrerit sem pretium. Nulla facilisi. Sed aliquam dolor quis tellus vestibulum, vitae sollicitudin lectus tincidunt. Mauris mattis velit mauris, pretium cursus metus pulvinar sed. Donec a neque scelerisque, molestie lacus at, placerat nulla. Praesent massa lorem, venenatis ut tempor ac, feugiat sit amet sapien. Proin orci eros, rutrum sit amet mattis ac, tincidunt in urna. Vivamus eros purus, viverra a ultrices nec, tristique eu eros. Quisque gravida lobortis porta. Donec auctor enim massa, ut lobortis nisl placerat a. Duis molestie nulla vel eros pellentesque sagittis. Sed vel pretium orci. Morbi egestas enim orci, id ornare velit consequat vel. Quisque vestibulum quam nibh, sed vulputate dolor feugiat quis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur nunc ut ipsum volutpat, non hendrerit sem pretium. Nulla facilisi. Sed aliquam dolor quis tellus vestibulum, vitae sollicitudin lectus tincidunt. Mauris mattis velit mauris, pretium cursus metus pulvinar sed. Donec a neque scelerisque, molestie lacus at, placerat nulla. Praesent massa lorem, venenatis ut tempor ac, feugiat sit amet sapien. Proin orci eros, rutrum sit amet mattis ac, tincidunt in urna. Vivamus eros purus, viverra a ultrices nec, tristique eu eros. Quisque gravida lobortis porta. Donec auctor enim massa, ut lobortis nisl placerat a. Duis molestie nulla vel eros pellentesque sagittis. Sed vel pretium orci. Morbi egestas enim orci, id ornare velit consequat vel. Quisque vestibulum quam nibh, sed vulputate dolor feugiat quis.</p>
                </div>
                <div class="caja2">
                    <article class="product-container">
                        <div class="product-imgs">
                            <div class="main-img-container">
                                <h2 class="product-title">Cuphead</h2>
                                <img src="/images/cuphead.png">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/NN-9SQXoi50?si=LRLl-qW8hl5XjIx2" 
                                title="YouTube video player" frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                                picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                            <div class="more-img-container">
                                <img src="images/cuphead-img1.jpg" alt="game image">
                                <img src="images/cuphead-img2.webp" alt="game image">
                                <img src="images/cuphead-img3.webp" alt="game image">
                            </div>
                        </div>
                        
                        <div class="product-description">
                            <img src="images/cuphead-banner.jpg" alt="cuphead title image">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Fusce risus velit, pulvinar vitae vulputate laoreet, 
                                imperdiet a odio. Praesent mollis orci et quam eleifend fringilla. 
                                Vivamus at euismod mi, non ultricies sem. 
                                Suspendisse ac risus non lacus tristique finibus. </p>
                        </div>
                        <div class="price-container">
                            <h4 class="price">$12000</h4>
                            <h4 class="discount">%20 dto</h4>
                            <h4 class="final-price">$9600</h4>
                        </div>
                        <h3 class="add-cart">Agregar al carrito</h3>
                    </article>
                </div>
            </div>
            
        </main>

        <%-include('partials/footer.ejs')%>
    </body>
    </html>