<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/49746c139e.js" crossorigin="anonymous"></script>
    <link href="css/mainProduct.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Producto</title>
</head>
<body>
    <header>
        <div class="header-top">
                <i class="fa-solid fa-bars"></i>
            <div class="logo-container">
                <a href="/" ><img src="images/streang-logo-v1.png" alt="Streang logo"></a>
            </div>
                <i class="fa-solid fa-user"></i>
        </div>
        <div class="header-mid">
            <div class="search-bar-container">
                <input class="search-bar" type="text" placeholder="Buscar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>            
            <div class="nav-bar">
                <ul>
                    <li><a class="nav-link" href="#">Categorias</a></li>
                    <li><a class="nav-link" href="#">Promociones</a></li>
                    <li><a class="nav-link" href="#">Vender</a></li>
                    <li><a class="nav-link" href="#">Contacto</a></li>
                    <li><a class="nav-link" href="#">Ayuda</a></li>
                </ul>
            </div>
        </div>
        <div class="header-right">
            <ul class="right-nav-bar">
                <li><a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Creá tu cuenta <i class="fa-solid fa-user"></i></a></li>
                <li><a href="/cart">Tu carrito <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>

        </div>
    </header>
    
    <main>
        <article class="product-container">
            <div class="product-imgs">
                <div class="main-img-container">
                    <h2 class="product-title">Cuphead</h2>
                    <img src="/images/cuphead.png">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/NN-9SQXoi50?si=LRLl-qW8hl5XjIx2" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                    picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="more-img-container">
                    <img src="images/cuphead-img1.jpg" alt="game image">
                    <img src="images/cuphead-img2.webp" alt="game image">
                    <img src="images/cuphead-img3.webp" alt="game image">
                </div>
            </div>
            
            <div class="product-description">
                <img src="images/cuphead-banner.jpg" alt="cuphead title image">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Fusce risus velit, pulvinar vitae vulputate laoreet, 
                    imperdiet a odio. Praesent mollis orci et quam eleifend fringilla. 
                    Vivamus at euismod mi, non ultricies sem. 
                    Suspendisse ac risus non lacus tristique finibus. </p>
            </div>
            <div class="price-container">
                <h4 class="price">$12000</h4>
                <h4 class="discount">%20 dto</h4>
                <h4 class="final-price">$9600</h4>
            </div>
            <h3 class="add-cart">Agregar al carrito</h3>
        </article>

        <section class="comentaries">
            <h3>Dejá tu comentario</h3>
            <div class="form-container">
                <form action="#" method="POST">                    
                    <input type="text" placeholder="Nombre" name="user-name">
                    <textarea maxlength="1500" placeholder="Escribe aquí tu comentario" rows="10"></textarea>
                    <div class="buttons-container">
                        <button class="sendButton">Aceptar</button>
                        <button class="cancelButton" type="reset">Borrar</button>
                    </div>
                </form>
            </div>
            <h3>Opiniones de usuarios</h3>
            <article class="user-comentary">
                <div class="info-user">
                    <div class="profile-img-container">
                        <!-- <p> </p> -->
                    </div>
                    <div class="user-and-date-container">
                        <p class="userName">Usuario01</p>
                        <p class="date">15 de Julio 2023</p>
                    </div>
                </div>
                <p class="comentary">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Fusce risus velit, pulvinar vitae vulputate laoreet, 
                    imperdiet a odio. Praesent mollis orci et quam eleifend fringilla. 
                    Vivamus at euismod mi, non ultricies sem. 
                    Suspendisse ac risus non lacus tristique finibus.
                </p>
            </article>
            <article class="user-comentary">
                <div class="info-user">
                    <div class="profile-img-container">
                        <!-- <p> </p> -->
                    </div>
                    <div class="user-and-date-container">
                        <p class="userName">Usuario02</p>
                        <p class="date">7 de Agosto 2023</p>
                    </div>
                </div>
                <p class="comentary">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Fusce risus velit, pulvinar vitae vulputate laoreet, 
                    imperdiet a odio. Praesent mollis orci et quam eleifend fringilla. 
                    Vivamus at euismod mi, non ultricies sem. 
                    Suspendisse ac risus non lacus tristique finibus.
                </p>
            </article>            
        </section>
        <h3>Productos similares</h3>
        <section class="similar-products">
            <div class="similar-products-container">
                <img src="images/hollow-knight.webp" alt="Hollow Knight game">
                <img src="images/GTAV.jpeg" alt="GTAV game">
                <img src="images/cuphead-the-delicious-last-course.webp" alt="Cuphead the deliciuos last course">
            </div>            
        </section>
    </main>
    
    <footer>
        <section>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Paga hasta en 12 cuotas sin interes con tarjetas VISA bancarizadas, u obtené 10% de descuento
                pagando en efectivo.
            </p>
        </section>
        <section>
            <h2>Envío gratis desde $ 15000</h2>
            <p>Te regalamos el envío en compras superiores a $15000</p>
        </section>
        <section>
            <h2>Garantía con cambio directo</h2>
            <p>Si tu producto tiene alguna falla, te cambiamos el producto de manera inmediata
                dentro de los primeros 5 días.
            </p>
        </section>
        <section class="copyright">
            <p>Copyright © 2020-2024 Streang® </p>
        </section>
    </footer>

</body>
</html>