<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/49746c139e.js" crossorigin="anonymous"></script>
    <link href="css/product-styles.css" rel="stylesheet"/>
    <title>Producto</title>
</head>
<body>
    <header>
        <div class="header-top">
            <!-- <div class="menu-container"> -->
                <i class="fa-solid fa-bars"></i>
            <!-- </div> -->
            <div class="logo-container">
                <img src="images/streang-logo-v1.png" alt="Streang logo">
            </div>
            <!-- <div class="user-icon-container"> -->
                <i class="fa-solid fa-user"></i>
            <!-- </div> -->
        </div>
        <div class="header-bottom"></div>
        <input class="search-bar" type="text" value="Buscar...">
    </header>
    
</body>
</html>