*{
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    background-color: #0B0B73;
    color: white;
    text-align: center;
}
.formulario-login-box {
padding: 30px;
}
.login{
    padding: 30px;
    font-size: 30px;
}
.nombre{
    margin: 10px;
}
.email{
    margin: 10px;
}
.password{
    margin: 10px;
}
.iniciar-sesion{
    margin: 10px;
}
.olvide-mi-clave{
    margin: 10px;
    font-size: 10px;
 
}
.recordarme{
    margin: 10px;
    font-size: 10px;
}
