*{
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    margin: 0px;
    background-color: #0B0B73;
}
header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

header form{
    width: 100%;
}

.nav-bar, .header-right, .fa-magnifying-glass, iframe, .product-description img{
    display: none;
}

.show{
    display: block;
    z-index: 1;
    /* position: absolute; */
    /* left: 20px;
    top: 50px; */
    top: 4em;
    background-color: #0B0B73;
    width: 200px;
    /* padding: 10px; */
    border: 1px solid white;
}

.show ul li, .show ul a{
    padding: 5px;
    /* background-color: white; */
    text-decoration: none;
    list-style: none;
    color: white;
}

.show ul{
    padding: 10px;
    margin: 0;
}

.header-top{
    display: flex;
    justify-content: space-between;
    background-color: #0B0B73;
    width: 1wv;
    align-items: center;
}
.logo-container{
    width: 34%;
    align-items: center;
}
header .fa-solid{
    margin: 0px auto;
    font-size: 1.4em;
    color: lightskyblue;
}
.logo-container img{
    width: 100%;
}
.menu-container{
    width: 33%;
}
.user-icon-container{
    width: 33%;
}

.search-bar-container input.search-bar{
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(27, 73, 158);
    min-width: 160px;
    margin-top: 10px;
    z-index: 1;
    width: auto;
}

.dropdown-content li{
    padding: 10px;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover{
    display: block;
    background-color: rgb(27, 73, 158);
}

.dropdown:hover a{
    background-color: rgb(27, 73, 158);
}

.dropdown-content a:hover, .dropdown-content li:hover  {background-color: rgb(28, 67, 139);}




/* FOOTER */

footer {
	color: lightskyblue;
	background-color: black;
    text-align: center;
}

.footer__section {
	text-align: center;
	padding: 0.1% 0;
	line-height: 18px;
	width: 90%;
	margin: auto 2%;
}


@media (min-width: 1023px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    header{
        display: flex;
        flex-direction: row;
        height: 125px;
        width: 100%;
        /* justify-content: space-between; */
    }


    .header-top .fa-solid{
        display: none;
        width: 1%;
    }

    header .header-top{
        width: 30%;
        margin: 1px;
        justify-content: center;
        /* margin-left: 180px; */
        /* padding-left: 100px; */
    }

    .header-top .logo-container{
        width: 90%;
        margin: 15px;
        margin-top: 50px;
        cursor: pointer;
    }

    .header-mid{
        width: 40%;
    }

    .header-mid input{
        width: 90%;
        /* margin-top: 30px; */
        height: 40px;
        border: none;
        border-radius: 2px 0 0 2px;
        padding-left: 10px;
        /* margin-left: -150px; */
    }

    .search-bar-container{
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    .search-bar-container .fa-solid{
        width: 10%;
        background-color: white;
        height: 40px;
        border-radius: 0 2px 2px 0;
        padding: 10px;
        color: grey;
    }

    .nav-bar{
        display: flex;
        /* flex-direction: row; */
    }

    .nav-bar a, .nav-bar li, .right-nav-bar a, .right-nav-bar li{
        text-decoration: none;
        color: black;
        list-style: none;
        color: white;
        /* width: 100%; */
    }

    ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        padding: 0;

        /* margin-left: 0; */
    }

    a{
        width: 100%;
        padding: 10px;
        font-size: 1em;
    }

    a.nav-link:hover{
        background-color: rgb(27, 73, 158);
    }

    .header-right{
        display: flex;
        flex-direction: column-reverse;
        justify-content: baseline;
        margin-top: 135px;
        width: 30%;
    }

    .header-right ul{
        width: 100%;
    }

    .header-right li, .header-right .fa-solid{
        font-size: 1.3vw;
    }

    section.products{
        margin-top: 20px;
    }

    .footer {
        display: flex;
    }
}

