*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.main-boxes-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    justify-content:flex-end;
    width: 100%;
    margin: 0;
    margin-top: 40px;
    padding: 0;
}

.form-box, .preview-box{
    width: 100%;
    background-color: #0B0B73;
}

.form-box {
    width: 100%;
    background-color: #0B0B73;
}

.preview-box {
    width: 100%;
    background-color: #0B0B73;
    top: 0;
    padding: 10px;
}

.product-container {
    position: relative;
    height: 100%;
}

.main-img-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid grey;
    width: 100%;
    height: 350px;
    font-size: 3em;
}

.main-img-container .fa-youtube, .product-banner{
    display: none;
}

.more-img-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.more-img-container .fa-images{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 33.3%;
    margin: 3px;
    height: 100px;
    border: 1px solid grey;
}

/* ESTILO DEL FORMULARIO */

.form-box h2{
    margin: 20px 0px 0px 20px;
    color:white;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

input.product-img, label.product-img-label{
    position: relative;
    height: 150px !important;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

select.category, select.format, textarea.description-area{
    height: 60px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: grey
}

textarea.description-area{
    height: inherit;
    width: 100%;
    resize: none;
}


.video-instructions-container {
    display: none;
    background-color: white;
    padding: 5px;
    margin-top: -10px;
    border: none;
    border-radius: 0 0 5px 5px;
}

#mainImageInput, #moreImageInput, #bannerImageInput {
    display: none;
}












.product-img-label{
    display: block;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
}

label.product-img-label:hover{
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.8);
}

.video-label:hover .video-instructions-container,
.video-label input:focus + .video-instructions-container {
    display: block;
}

.fa-images.img-form{
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 40%;
    font-size: 3em;
}

.form-container input{
    height: 60px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.submit-button{
    width: 50%;
    margin: auto;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-top:5px;
    margin-bottom: 5px;
}

.submit-button:hover{
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
}


/* ESTILO DE VISTA PREVIA DEL PRODUCTO */
.product-title{
    margin: 5px auto 5px 10px;
    color:aquamarine;
    display: flex;
    align-items: center;
}

.product-container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 90%;
    margin: auto;
    background-color: rgb(27, 73, 158);
    margin-bottom: 3%;
    margin-top: 3%;
	border: solid 2px white;
}

.main-img-container{
    width: 100%;
}

.main-img-container img{
    width: 100%;

}

.more-img-container{
    display: flex;
    justify-content: space-between;
}

/* proxima linea es solo para estilo de efecto hover con eventListener */
.box-shadowed {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8); /* Estilo de la sombra al pasar el cursor */
}

.more-img-container img {
    margin-right: 10px;
    width: 30%;
    height: 100px;
}


.more-img-container i{
    width: 33%;
}

.price-container{
    display: flex;
    justify-content: space-around;
    background-color: black;
    width: 100%;
    border-radius: 5px;
}
.price, .discount, .final-price{
    width: 33%;
    padding: 3px;
    margin: 2px;
    text-align: center;
    color: white;
}
.price{
    text-decoration: line-through;
    background-color: gray;
    border-radius: 3px;
}
.final-price{
    background-color: gray;
    border-radius: 3px;
}

.discount{
    background-color: rgba(42, 207, 19, 0.8);
    font-size: 0.8em;
    border-radius: 2px;
}

.add-cart{
    background-color: green;
    margin: 5px auto;
    padding-top: 10px;
    border-radius: 5px;
    color: antiquewhite;
}

/* DESKTOP */
@media (min-width: 800px){

    /* ESTILO VISTA PREVIA PRODUCTO */

    .main-img-mobile{
        display: none;
    }

    .product-banner{
        display: block;
    }

    .main-boxes-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        margin-top: 40px;
        padding: 0;
    }
    
   
    .form-box {
        width: 25%;
        background-color: #0B0B73;
        overflow-y: auto;
        max-height: 100vh;
    }
    
    .preview-box {
        width: 75%;
        background-color: #0B0B73;
        position: sticky;
        top: 0;
        padding: 10px;
        height: 100vh;
    }    
    
    .product-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 90%;
        justify-content: space-between;
    }
    
    .product-imgs{
        width: 50%;
        display: flex;
        flex-direction: column;
        
    }

    .main-img-container{       
        width: 100%;
        height: 370px;        
    }
    
    .main-img-container img{
        display: none;
    }

    .main-img-container .fa-youtube{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid grey;
        top: 10%;
        left: 1%;
        width: 100%;
        height: 80%;
        font-size: 3em;
        border-radius: 10px;
    }

    iframe, .product-description img{
        width: 100%;
        display: block;
    }

    .more-img-container{
        height: 25%;
        width: 100%;
    }

    .more-img-container i{
        display: flex;
        justify-content: center;
        width: 33%;
        border: 1px solid grey;
        border-radius: 10px;
        font-size: 2.5em;
        align-content: center;
        align-items: center;
    }
    
    .product-description{
        width: 45%;
        margin-top: 40px;
        margin-right: 20px;
    }
    
    .product-description img{
        width: 100%;
    }

    .product-banner{
        width: 100%;
        padding: 60px 0;
        font-size: 3em;
        border: 1px solid grey;
        border-radius: 10px;
        text-align: center;
    }
    
    .price-container{
        width: 50%;
        height: 30px;
        margin-top: 15px;
    }

    .add-cart{
        background-color: green;
        height: 50px;
        margin: 5px auto;
        padding: 10px;
        border-radius: 5px;
        color: antiquewhite;
    }

    /* ESTILO DEL SCROLL */
    /* Tamaño del scroll */
    .form-box::-webkit-scrollbar {
        width: 8px;
    }
    
    /* Estilos barra (thumb) de scroll */
    .form-box::-webkit-scrollbar-thumb {
        background: grey;
        border-radius: 4px;
    }
    
    .form-box::-webkit-scrollbar-thumb:active {
        background-color: #999999;
    }
    
    .form-box::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
    
    /* Estilos track de scroll */
    .form-box::-webkit-scrollbar-track {
        background: #e1e1e1;
        border-radius: 4px;
    }
    
    .form-box::-webkit-scrollbar-track:hover, 
    .form-box::-webkit-scrollbar-track:active {
        background: #d4d4d4;
    }

      
}


  

