<<<<<<< HEAD
.form__section {
    margin: 2% 0;
}

.form__section:last-of-type {
    margin-bottom: 3%;
}

.form {
    width: 95%;
    margin: auto;
}
=======
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-top{
    display: flex;
    justify-content: space-between;
    background-color: #0B0B73;
    width: 1wv;
    align-items: center;
}

.logo-container{
    width: 200px;
    align-items: center;
}

header .fa-solid{
    margin: 0px auto;
    font-size: 1.4em;
    color: lightskyblue;
}

.logo-container img{
    width: 100%;
}

.menu-container{
    width: 33%;
}

.user-icon-container{
    width: 33%;
}

/* MAIN */
.campo-general{
    padding: 10px 15px;
    text-align: center;
}

.titulo {
    padding: 10px 0;
    color: lightskyblue;
}

.control-formulario{
    margin-bottom: 15px;
    width: 100%;
    display: block;
}

input[type="text"], input[type= "password"], input[type="email"], input[type="date"] {
    padding: 5px 10px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 1.2rem;
    width: 100%;
}

.send-remember-buttons{
    text-align: center;
    padding: 0 20;
}

.continue-button:hover{
    background-color: black;
    color: #ffff;
}

.continue-button{
    padding: 5px 10px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 1.2rem;
    max-width: 60%;
    transition: all 450ms;
}

/* FOOTER */
.footer {
	color: lightskyblue;
	background-color: #0B0B73;
    padding: 15px 0;
    margin-top: 15px;
}

.footer__section h2{
    color: #FFFF;
}

.footer__section {
	text-align: center;
	padding: 0.1% 0;
	line-height: 18px;
	width: 90%;
	margin: auto;
}


@media(min-width:500px){
    input[type="text"], input[type= "password"], input[type="email"], input[type="date"] {
        width: auto;
        text-align: center;
    }
}
    

>>>>>>> af57bc9b5768511f69172f55e3c122d4183d09a6
