.form__section {
    margin: 2% 0;
}

.form__section:last-of-type {
    margin-bottom: 3%;
}

.form {
    width: 95%;
    margin: auto;
}

.form-error-msg{
    margin-top: -10px;
    margin-bottom: 20px;
    color: aliceblue;
}


/* MAIN */
.campo-general{
    padding: 10px 15px;
    text-align: center;
}

.titulo {
    padding: 10px 0;
    color: lightskyblue;
}

.control-formulario{
    margin-bottom: 15px;
    width: 100%;
    display: block;
}

input[type="text"], input[type= "password"], input[type="email"], input[type="date"] {
    padding: 5px 10px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 1.2rem;
    width: 100%;
}

.send-remember-buttons{
    text-align: center;
    padding: 0 20;
}

.continue-button:hover{
    background-color: black;
    color: #ffff;
    cursor: pointer;
}

.continue-button{
    padding: 5px 10px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 1.2rem;
    max-width: 60%;
    transition: all 450ms;
    margin-bottom: 50px;
}


@media(min-width:500px){
    input[type="text"], input[type= "password"], input[type="email"], input[type="date"] {
        width: auto;
        text-align: center;
    }
}
    

