p {
    color: white;
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-top{
    display: flex;
    justify-content: space-between;
    background-color: #0B0B73;
    width: 1wv;
    align-items: center;
}

.logo-container{
    width: 34%;
    align-items: center;
}

header .fa-solid{
    margin: 0px auto;
    font-size: 1.4em;
    color: lightskyblue;
}

.logo-container img{
    width: 100%;
}

.menu-container{
    width: 33%;
}

.user-icon-container{
    width: 33%;
}

/* MAIN */
main {
	color: lightskyblue;
}

.producto {
    margin: auto;
    width: 90%;
}

.imagen-producto {
    width: 100%;
}

.producto__descripcion, .producto__precio {
    width: 95%;
    margin-left: 2%;
}


/* FOOTER */
footer {
	color: lightskyblue;
	background-color: black;
    margin: auto;
}

.footer__section {
	text-align: center;
	padding: 0.1% 0;
	line-height: 18px;
	width: 90%;
	margin: auto;
}

.footer__copy {
    text-align: center;
}

@media (min-width: 768px) {
    .header-top {
        width: 40%;
        margin: auto;
    }

    .search-bar {
        width: 30%;
        margin: auto;
    }

    .products {
        display: flex;
        width: 95%;
        margin: auto;
        justify-content: space-around;
        gap: 2%;
    }

    .footer {
        display: flex;
        width: 95%;
        margin: auto;
    }
}