/* HEADER */
.header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header__logo {
    width: 100%;
}

/* MAIN */
main {
	color: lightskyblue;
}

.producto {
    margin: auto;
    width: 90%;
}

.imagen-producto {
    width: 100%;
}

.producto__descripcion, .producto__precio {
    width: 95%;
    margin-left: 2%;
}


/* FOOTER */
.footer {
	color: lightskyblue;
	background-color: black;
}