<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <link rel="stylesheet" href="/css/contactResponseStyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <%-include('./partials/header.ejs')%>
    <div class="content">
        <h2 class="response"><%= response.msg%></h2>
    </div>
    

    <%-include('./partials/footer.ejs')%>
    
</body>
</html>