<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <link rel="stylesheet" href="./css/contact.css">
    <title>Contacto</title>
</head>
<body>
    

    <%-include('partials/header.ejs')%>

    <h1 class="title">COMUNICATE CON NOSOTROS</h1>
    <p>Ponete en contacto por cualquiera de los siguientes medios,
        nos comunicaremos contigo lo más rápido posible.
    </p>
        <div class="contact-container">

            <div class="form-container">
                <form action="/contact" method="POST">
                    <input name="name" type="text" placeholder="Nombre">
                    <input name="email" type="email" placeholder="Email">
                    <input name="subject" type="text" placeholder="Asunto">
                    <textarea name="message" placeholder="Escribe tu mensaje"></textarea>

                    <button type="submit" class="send-button">Enviar</button>
                </form>

            </div>

            <div class="social-media-contact">
                <div class="contact whatsApp">
                    <a href="wa.me/+549351555555"><i class="fa-brands fa-whatsapp" style="color: #1fbd00;"></i><span>+54 9 351555555</a></span>
                </div>
                <div class="contact Instagram">
                    <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i><span> Instragram</a></span>
                </div>
                <div class="contact email">
                    <i class="fa-regular fa-envelope"></i> <span>streang@ejemplo.com</span>
                </div>
                <div class="contact tel">
                    <i class="fa-solid fa-phone"></i><span> 351555555</span>
                </div>
            </div>

        </div>


    <%-include('partials/footer.ejs')%>
    
</body>
</html>