<footer>
    <div class="footer">
        <section class="footer__section">
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Paga hasta en 12 cuotas sin interes con tarjetas VISA bancarizadas, u obtené 10% de descuento
                pagando en efectivo.
            </p>
        </section>
        <section class="footer__section">
            <h2>Envío gratis desde $ 15000</h2>
            <p>Te regalamos el envío en compras superiores a $15000</p>
        </section>
        <section class="footer__section">
            <h2>Garantía con cambio directo</h2>
            <p>Si tu producto tiene alguna falla, te cambiamos el producto de manera inmediata
                dentro de los primeros 5 días.
            </p>
        </section>
    </div>
    <section class="footer__section">
        <p>Copyright © 2020-2024 Streang®</p>
    </section>
</footer>

<script src="/js/header.js"></script>